{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>

<a href="/reports" class="btn btn-info mb-3">View Reports</a>
<table class="table">
    <thead>
        <tr>
            <th>Application ID</th>
            <th>Date</th>
            <th>Applicant</th>
            <th>Email</th>
            <th>Pet</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for app in applications %}
        <tr>
            <td>{{ app.application_id }}</td>
            <td>{{ app.application_date }}</td>
            <td>{{ app.adopter_name }}</td>
            <td>{{ app.email }}</td>
            <td>{{ app.pet_name }}</td>
            <td>{{ app.application_status }}</td>
            <td>
                <a href="/approve/{{ app.id }}" class="btn btn-success btn-sm">
                    Approve
                </a>

                <a href="/reject/{{ app.id }}" class="btn btn-danger btn-sm">
                    Reject
                </a>
                <a href="{{ url_for('delete_application', app_id=app.application_id) }}" 
                class="btn btn-warning btn-sm"
                    onclick="return confirm('Are you sure you want to delete this application?');">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}