{% extends "base.html" %}

{% block content %}
<h2>Adoption Application</h2>

<form method="POST" action="/apply">

<div class="mb-3">
<label class="form-label">Name</label>
<input type="text" name="adopter_name" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Email</label>
<input type="email" name="email" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Age</label>
<input type="number" name="age" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Pet ID</label>
<input type="text" name="pet_id" class="form-control" required>
</div>

<button type="submit" class="btn btn-warning">Submit Application</button>

</form>

{% endblock %}